In [58]:
import pandas as pd
import ast

Verinin Okunması

In [59]:
data = pd.read_csv("csv/data.csv", 
                   dtype={'period': 'string', 'stdno': 'string', 'Code': 'string', 'classname': 'string', 'classcode': 'string'})
data

,period,stdno,Code,classname
0,GÜZ DÖNEMİ,10022902,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
1,GÜZ DÖNEMİ,11071138,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
2,GÜZ DÖNEMİ,12071011,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
3,GÜZ DÖNEMİ,12071904,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
4,GÜZ DÖNEMİ,13073017,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
434677,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji
434678,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji
434679,BAHAR DÖNEMİ,207B6004,YTT5116 - 1,Sosyal Pedogoji
434680,BAHAR DÖNEMİ,207B6005,YTT5116 - 1,Sosyal Pedogoji
434681,BAHAR DÖNEMİ,207B6008,YTT5116 - 1,Sosyal Pedogoji

Sütun adlarının değiştirilmesi

In [60]:
data.rename(columns={'stdno': 'std_no', 'Code': 'class_code', 'classname': 'class_name'}, inplace=True)
data

,period,std_no,class_code,class_name
0,GÜZ DÖNEMİ,10022902,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
1,GÜZ DÖNEMİ,11071138,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
2,GÜZ DÖNEMİ,12071011,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
3,GÜZ DÖNEMİ,12071904,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
4,GÜZ DÖNEMİ,13073017,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
434677,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji
434678,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji
434679,BAHAR DÖNEMİ,207B6004,YTT5116 - 1,Sosyal Pedogoji
434680,BAHAR DÖNEMİ,207B6005,YTT5116 - 1,Sosyal Pedogoji
434681,BAHAR DÖNEMİ,207B6008,YTT5116 - 1,Sosyal Pedogoji

Öğrenci numarasında harf olan kayıtların silinmesi

In [61]:
deleted = data[data.std_no.str.contains("[a-zA-Z]").fillna(False)].reset_index().drop('index', axis=1)
data = data[~data.std_no.str.contains("[a-zA-Z]").fillna(False)].reset_index().drop('index', axis=1)
deleted

,period,std_no,class_code,class_name
0,GÜZ DÖNEMİ,"2,00E+41",ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
1,GÜZ DÖNEMİ,140A3028,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
2,GÜZ DÖNEMİ,1905C043,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
3,GÜZ DÖNEMİ,2005A911,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
4,GÜZ DÖNEMİ,2005C902,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
64084,BAHAR DÖNEMİ,207B6008,YTT5108 - 1,Eğitimde Araştırma Yöntemleri
64085,BAHAR DÖNEMİ,207B6009,YTT5108 - 1,Eğitimde Araştırma Yöntemleri
64086,BAHAR DÖNEMİ,207B6004,YTT5116 - 1,Sosyal Pedogoji
64087,BAHAR DÖNEMİ,207B6005,YTT5116 - 1,Sosyal Pedogoji
64088,BAHAR DÖNEMİ,207B6008,YTT5116 - 1,Sosyal Pedogoji

In [62]:
data

,period,std_no,class_code,class_name
0,GÜZ DÖNEMİ,10022902,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
1,GÜZ DÖNEMİ,11071138,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
2,GÜZ DÖNEMİ,12071011,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
3,GÜZ DÖNEMİ,12071904,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
4,GÜZ DÖNEMİ,13073017,ATA1031 - 1,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
370588,BAHAR DÖNEMİ,22746023,YTT5003 - 8,Uzmanlık Alan Dersi
370589,BAHAR DÖNEMİ,22746025,YTT5003 - 9,Uzmanlık Alan Dersi
370590,BAHAR DÖNEMİ,20746007,YTT5116 - 1,Sosyal Pedogoji
370591,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji
370592,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji

Öğrenci numarası uzunluğu 8 olmayan kayıtların silinmesi

In [63]:
lenght8 = data[data.std_no.str.len() == 8]
lenght7 = data[data.std_no.str.len() == 7]
lenght7

,period,std_no,class_code,class_name
201,GÜZ DÖNEMİ,3071034,ATA1031 - 10,Atatürk İlkeleri Ve İnkılap Tarihi 1
546,GÜZ DÖNEMİ,6054060,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
547,GÜZ DÖNEMİ,8043088,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
548,GÜZ DÖNEMİ,9042008,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
1269,GÜZ DÖNEMİ,9065086,ATA1031 - 16,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
366918,BAHAR DÖNEMİ,9066209,TDB1032 - 6,Türkçe 2
367074,BAHAR DÖNEMİ,8065127,TDB1032 - 7,Türkçe 2
367075,BAHAR DÖNEMİ,8065224,TDB1032 - 7,Türkçe 2
367076,BAHAR DÖNEMİ,9065205,TDB1032 - 7,Türkçe 2
367319,BAHAR DÖNEMİ,6052002,TDB4031 - 1,Güzel Konuşma Ve Diksiyon

In [64]:
lenght7['std_no'] = lenght7.apply(lambda x: f"0{x.std_no}", axis=1)
data = pd.concat([lenght7, lenght8])
data

C:\Users\bucal\AppData\Local\Temp\ipykernel_24136\636155344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lenght7['std_no'] = lenght7.apply(lambda x: f"0{x.std_no}", axis=1)

,period,std_no,class_code,class_name
201,GÜZ DÖNEMİ,03071034,ATA1031 - 10,Atatürk İlkeleri Ve İnkılap Tarihi 1
546,GÜZ DÖNEMİ,06054060,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
547,GÜZ DÖNEMİ,08043088,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
548,GÜZ DÖNEMİ,09042008,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1
1269,GÜZ DÖNEMİ,09065086,ATA1031 - 16,Atatürk İlkeleri Ve İnkılap Tarihi 1
...,...,...,...,...
370588,BAHAR DÖNEMİ,22746023,YTT5003 - 8,Uzmanlık Alan Dersi
370589,BAHAR DÖNEMİ,22746025,YTT5003 - 9,Uzmanlık Alan Dersi
370590,BAHAR DÖNEMİ,20746007,YTT5116 - 1,Sosyal Pedogoji
370591,BAHAR DÖNEMİ,20746011,YTT5116 - 1,Sosyal Pedogoji
370592,BAHAR DÖNEMİ,20746017,YTT5116 - 1,Sosyal Pedogoji

Öğrenci numarasındaki bölüm numarası kısmının yeni bir sütuna kaydedilmesi

In [65]:
data['department_no'] = data.apply(lambda row: row.std_no[2:5], axis=1)
data.department_no = data.department_no.astype('string')
data = data[['std_no', 'department_no', 'class_code', 'class_name', 'period']]
data

,std_no,department_no,class_code,class_name,period
201,03071034,071,ATA1031 - 10,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
546,06054060,054,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
547,08043088,043,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
548,09042008,042,ATA1031 - 12,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
1269,09065086,065,ATA1031 - 16,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
...,...,...,...,...,...
370588,22746023,746,YTT5003 - 8,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
370589,22746025,746,YTT5003 - 9,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
370590,20746007,746,YTT5116 - 1,Sosyal Pedogoji,BAHAR DÖNEMİ
370591,20746011,746,YTT5116 - 1,Sosyal Pedogoji,BAHAR DÖNEMİ
370592,20746017,746,YTT5116 - 1,Sosyal Pedogoji,BAHAR DÖNEMİ

Ders kodu kısmındaki gereksiz grup no kısmının silinmesi

In [66]:
data.class_code = data.apply(lambda row: row.class_code[:7], axis=1)
data.class_code = data.class_code.astype('string')
data

,std_no,department_no,class_code,class_name,period
201,03071034,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
546,06054060,054,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
547,08043088,043,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
548,09042008,042,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
1269,09065086,065,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
...,...,...,...,...,...
370588,22746023,746,YTT5003,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
370589,22746025,746,YTT5003,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
370590,20746007,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ
370591,20746011,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ
370592,20746017,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ

Sütunların yerinin düzenlenmesi

In [67]:
data = data[['std_no', 'department_no', 'class_code', 'class_name', 'period']]
data

,std_no,department_no,class_code,class_name,period
201,03071034,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
546,06054060,054,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
547,08043088,043,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
548,09042008,042,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
1269,09065086,065,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
...,...,...,...,...,...
370588,22746023,746,YTT5003,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
370589,22746025,746,YTT5003,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
370590,20746007,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ
370591,20746011,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ
370592,20746017,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ

İleri aşamalarda veriyi temizlemek için çeşitli dosyaların okunması

In [68]:
department_code_match_table = pd.read_csv('csv/dp_code_match_table.csv', dtype={'department_code': 'string', 'department_no': 'string'})

In [69]:
department_dict = pd.read_csv("csv/department_dict.csv",
                           dtype={'department_code': 'string', 'faculty_name': 'string'})

In [70]:
department_code_list = list(department_dict.department_code)

Daha önce öğrenci numarasından oluşturduğumuz bölüm numarası, üniversitedeki 48 bölümden herhangi biriyle eşleşmeyen kayıtların silinmesi. Bu sayede yüksek lisans vb. tarzı kayıtlar siliniyor

In [71]:
deleted_data = data[~data.department_no.isin(list(department_code_match_table.department_no))].reset_index().drop('index', axis=1)
data = data[data.department_no.isin(list(department_code_match_table.department_no))].reset_index().drop('index', axis=1)
deleted_data

,std_no,department_no,class_code,class_name,period
0,06054060,054,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
1,08043088,043,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
2,09066010,066,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
3,09063901,063,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
4,08701205,701,ATA6000,Doktora Tezi,GÜZ DÖNEMİ
...,...,...,...,...,...
114348,22746023,746,YTT5003,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
114349,22746025,746,YTT5003,Uzmanlık Alan Dersi,BAHAR DÖNEMİ
114350,20746007,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ
114351,20746011,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ
114352,20746017,746,YTT5116,Sosyal Pedogoji,BAHAR DÖNEMİ

In [72]:
data

,std_no,department_no,class_code,class_name,period
0,03071034,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
1,09042008,042,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
2,09065086,065,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
3,08012020,012,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
4,06071048,071,ATA1031,Atatürk İlkeleri Ve İnkılap Tarihi 1,GÜZ DÖNEMİ
...,...,...,...,...,...
256182,21097003,097,TRO4402,Dil Ve Kültür,BAHAR DÖNEMİ
256183,22084037,084,TRO4402,Dil Ve Kültür,BAHAR DÖNEMİ
256184,16031065,031,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ
256185,21097003,097,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ
256186,22084037,084,TRO4512,Çağdaş Türk Edebiyatı,BAHAR DÖNEMİ

İlerde kullanmak için dosya okunması. Mesleki seçmeliler, Sosyal seçmeliler ve zorunlu derslerin bulunduğu liste.

In [73]:
vocational_elective_courses = pd.read_csv("csv/vocational_elective_courses.csv", 
                               dtype={'department_code': 'string'}, 
                               converters={"vocational_elective_courses": ast.literal_eval})
vocational_elective_courses['department_no'] = vocational_elective_courses.apply(
    lambda row: department_code_match_table[department_code_match_table.department_code == row.department_code].reset_index().at[0, 'department_no'], axis=1)
vocational_elective_courses = vocational_elective_courses[['department_code', 'department_no', 'vocational_elective_courses']]

In [74]:
social_elective_courses = pd.read_csv("csv/social_elective_courses.csv",
                                dtype={'department_code': 'string'},
                                converters={"social_elective_courses": ast.literal_eval})
social_elective_courses['department_no'] = social_elective_courses.apply(
    lambda row: department_code_match_table[department_code_match_table.department_code == row.department_code].reset_index().at[0, 'department_no'], axis=1)
social_elective_courses = social_elective_courses[['department_code', 'department_no', 'social_elective_courses']]

In [75]:
mandatory_courses = pd.read_csv("csv/mandatory_courses.csv",
                                dtype={'department_code': 'string'},
                                converters={"mandatory_courses": ast.literal_eval})
mandatory_courses['department_no'] = mandatory_courses.apply(
    lambda row: department_code_match_table[department_code_match_table.department_code == row.department_code].reset_index().at[0, 'department_no'], axis=1)
mandatory_courses = mandatory_courses[['department_code', 'department_no', 'mandatory_courses']]

In [76]:
dep_codes = vocational_elective_courses.department_code.to_list()
dep_codes.append('ITB')

ders kodu kısmı ITB veya bölüm kısaltmalarından herhangi biri olmayan kayıtların silinmesi

In [77]:
data['to_drop'] = data.apply(lambda row: row.class_code[:3] not in dep_codes, axis=1)
deleted_data = data[data.to_drop == True].reset_index().drop(['index', 'to_drop'], axis=1)
data = data[data.to_drop == False].reset_index().drop(['index', 'to_drop'], axis=1)
deleted_data.class_code.unique()

<StringArray>
['ATA1031', 'BED4022', 'BED4032', 'DNS3911', 'EGT1051', 'EGT2021', 'EGT3011',
 'EGT3021', 'EGT3111', 'EGT4011',
 ...
 'TRO2950', 'TRO3291', 'TRO3332', 'TRO3342', 'TRO3352', 'TRO3902', 'TRO3912',
 'TRO4362', 'TRO4402', 'TRO4512']
Length: 311, dtype: string

In [78]:
data

,std_no,department_no,class_code,class_name,period
0,08011013,011,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
1,08011057,011,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
2,08011060,011,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
3,09011902,011,BLM2031,Yapısal Programlama,GÜZ DÖNEMİ
4,08011060,011,BLM2031,Yapısal Programlama,GÜZ DÖNEMİ
...,...,...,...,...,...
208228,18027603,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
208229,18027604,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
208230,18027613,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
208231,19027601,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
208232,19027605,027,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ

dataya öğrencinin bulunduğu bölümün kodu ve öğrencinin aldığı dersin bulunduğu bölümün kodunun eklenmesi.
daha sonra bu kodlar ile öğrenci dersi başka bir bölümden mi almış analizi yapılacak.

In [80]:
data['department_code'] = data.apply(lambda row: 
                                    department_code_match_table[department_code_match_table.department_no == row.department_no].reset_index().at[0, 'department_code'], axis=1)
data['class_department_code'] =data.apply(lambda row: row.class_code[:3], axis=1)
data = data[['std_no', 'department_no', 'department_code', 'class_department_code', 'class_code', 'class_name', 'period']]
data.to_csv('csv/data_cleaned.csv', index=False)
data

,std_no,department_no,department_code,class_department_code,class_code,class_name,period
0,08011013,011,BLM,BLM,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
1,08011057,011,BLM,BLM,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
2,08011060,011,BLM,BLM,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
3,09011902,011,BLM,BLM,BLM2031,Yapısal Programlama,GÜZ DÖNEMİ
4,08011060,011,BLM,BLM,BLM2031,Yapısal Programlama,GÜZ DÖNEMİ
...,...,...,...,...,...,...,...
208228,18027603,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
208229,18027604,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
208230,18027613,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
208231,19027601,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
208232,19027605,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ

In [ ]:
"""class_code_df = data[['class_code', 'class_name']]
class_code_df = class_code_df.drop_duplicates()
class_code_df.to_csv('csv/class_codes.csv', index=False)
"""

"class_code_df = data[['class_code', 'class_name']]\nclass_code_df = class_code_df.drop_duplicates()\nclass_code_df.to_csv('csv/class_codes.csv', index=False)\n"

tüm sosyal seçmeli, mesleki seçmeli ve zorunlu derslerin kodlarının bulunduğu bir listenin hazırlanması ve ders kodu bu listede olmayan kayıtların silinmesi. bu sayede daha önce silinmemiş olan yüksek lisans tarzı kayıtlar da tamamen silinmiş oluyor.

In [81]:
all_classes = list()
for row in mandatory_courses.iterrows():
    all_classes += row[1][2]
for row in vocational_elective_courses.iterrows():
    all_classes += row[1][2]
for row in social_elective_courses.iterrows():
    all_classes += row[1][2]

In [82]:
data['to_drop'] = data.apply(lambda row: row.class_code not in all_classes, axis=1)
deleted_data = data[data['to_drop'] == True].reset_index().drop(['index', 'to_drop'], axis=1)
data = data[data['to_drop'] == False].reset_index().drop(['index', 'to_drop'], axis=1)
deleted_data

C:\Users\bucal\AppData\Local\Temp\ipykernel_24136\1098878207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['to_drop'] = data.apply(lambda row: row.class_code not in all_classes, axis=1)

,std_no,department_no,department_code,class_department_code,class_code,class_name,period
0,06091025,091,BTO,BTO,BTO4071,Web Tasarımı,GÜZ DÖNEMİ
1,06091025,091,BTO,BTO,BTO4161,Proje Geliştirme Ve Yönetimi 1,GÜZ DÖNEMİ
2,09042059,042,INS,CEV,CEV4462,Çevre Hukuku,GÜZ DÖNEMİ
3,07086006,086,MTP,DTP,DTP2571,Alan Araştırma Teknikleri,GÜZ DÖNEMİ
4,08086006,086,MTP,DTP,DTP2571,Alan Araştırma Teknikleri,GÜZ DÖNEMİ
...,...,...,...,...,...,...,...
5669,18027603,027,TDE,TDE,TDE4222,Yeni Türk Yazı Dilleri,BAHAR DÖNEMİ
5670,18027604,027,TDE,TDE,TDE4222,Yeni Türk Yazı Dilleri,BAHAR DÖNEMİ
5671,18027613,027,TDE,TDE,TDE4222,Yeni Türk Yazı Dilleri,BAHAR DÖNEMİ
5672,19027601,027,TDE,TDE,TDE4222,Yeni Türk Yazı Dilleri,BAHAR DÖNEMİ
5673,19027605,027,TDE,TDE,TDE4222,Yeni Türk Yazı Dilleri,BAHAR DÖNEMİ

In [83]:
data

,std_no,department_no,department_code,class_department_code,class_code,class_name,period
0,08011013,011,BLM,BLM,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
1,08011057,011,BLM,BLM,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
2,08011060,011,BLM,BLM,BLM2021,Alt Seviye Programlama,GÜZ DÖNEMİ
3,09011902,011,BLM,BLM,BLM2031,Yapısal Programlama,GÜZ DÖNEMİ
4,08011060,011,BLM,BLM,BLM2031,Yapısal Programlama,GÜZ DÖNEMİ
...,...,...,...,...,...,...,...
202554,18027603,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
202555,18027604,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
202556,18027613,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
202557,19027601,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
202558,19027605,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ

Mesleki seçmeli derslerin bulunduğu kayıtlar bulunarak dosyaya kaydediliyor

In [89]:
data_voc_el = data
data_voc_el['to_drop'] = data_voc_el.apply(lambda row: row.class_code not in 
                        vocational_elective_courses[vocational_elective_courses.department_no == row.department_no].reset_index().at[0, 'vocational_elective_courses'], axis=1)
data_voc_el = data_voc_el[data_voc_el.to_drop == False].reset_index().drop(['index', 'to_drop'], axis=1)
data_voc_el

,std_no,department_no,department_code,class_department_code,class_code,class_name,period
0,08011013,011,BLM,BLM,BLM3120,Bilgiye Erişim Ve Arama Motorları,GÜZ DÖNEMİ
1,09011033,011,BLM,BLM,BLM3120,Bilgiye Erişim Ve Arama Motorları,GÜZ DÖNEMİ
2,08011057,011,BLM,BLM,BLM3580,Sistem Programlama,GÜZ DÖNEMİ
3,08011060,011,BLM,BLM,BLM3590,İstatistiksel Veri Analizi,GÜZ DÖNEMİ
4,09011033,011,BLM,BLM,BLM3720,Bilgisayar Grafiğine Giriş,GÜZ DÖNEMİ
...,...,...,...,...,...,...,...
31469,18027603,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
31470,18027604,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
31471,18027613,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
31472,19027601,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ
31473,19027605,027,TDE,TDE,TDE4372,Klasik Türk Edebiyatında Mazmunlar,BAHAR DÖNEMİ

In [91]:
data_voc_el.to_csv('csv/data_voc_el.csv', index=False)

Sosyal seçmeli derslerin bulunduğu kayıtlar bulunarak dosyaya kaydediliyor

In [90]:
data_social_el = data
data_social_el['to_drop'] = data_social_el.apply(lambda row: row.class_code not in 
                            social_elective_courses[social_elective_courses.department_no == row.department_no].reset_index().at[0, 'social_elective_courses'], axis=1)
data_social_el = data_social_el[data_social_el.to_drop == False].reset_index().drop(['index', 'to_drop'], axis=1)
data_social_el

,std_no,department_no,department_code,class_department_code,class_code,class_name,period
0,08033065,033,ISL,IKT,IKT1121,Sosyoloji,GÜZ DÖNEMİ
1,08012037,012,ELM,ISL,ISL1611,İşletme Bilimine Giriş,GÜZ DÖNEMİ
2,06014037,014,EHM,ISL,ISL3621,Üretim Yönetimi,GÜZ DÖNEMİ
3,01071116,071,MIM,ITB,ITB3010,Sosyoloji,GÜZ DÖNEMİ
4,09011033,011,BLM,ITB,ITB3020,Felsefeye Giriş,GÜZ DÖNEMİ
...,...,...,...,...,...,...,...
9559,19087604,087,SYP,SYP,SYP2192,Kültür Yönetimi Ve Etkenleri 2,BAHAR DÖNEMİ
9560,19087607,087,SYP,SYP,SYP2192,Kültür Yönetimi Ve Etkenleri 2,BAHAR DÖNEMİ
9561,19087608,087,SYP,SYP,SYP2192,Kültür Yönetimi Ve Etkenleri 2,BAHAR DÖNEMİ
9562,19087609,087,SYP,SYP,SYP2192,Kültür Yönetimi Ve Etkenleri 2,BAHAR DÖNEMİ
9563,20087601,087,SYP,SYP,SYP2192,Kültür Yönetimi Ve Etkenleri 2,BAHAR DÖNEMİ

In [92]:
data_social_el.to_csv('csv/data_social_el.csv', index=False)